.DS_Store
.vscode
__pycache__
.venv

# Ignoruj surowe dane i pobrane zipy
data/

# Ignoruj pretrained modele w katalogu glownym
/*.pt

# Ignoruj zbedne pliki treningowe w runs, zachowaj wylacznie koncowe wagi best.pt
runs/**
!runs/**/
!runs/**/weights/
!runs/**/weights/best.pt